.projects {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

.projects-table {
    margin: 0 auto;
    width: 50%;
    padding: 20px;
}

span {
    margin: 4px;
}

.create-project-form {
    width: 300px;
    margin: 0 auto;
    font-family: Tahoma, Geneva, sans-serif;
    padding: 10px;
}

#toggle-form{
    width: 20%;
    padding: 15px;
    background-color: #1a3754;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
}

#submit-form{
    width: 100%;
    padding: 15px;
    background-color: #1a3754;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
}