#header {
    text-align: center;
    font-weight: bold;
    padding: 20px;
    background-color: cadetblue;
}

#modalOnlineUsers {
    text-align: center;
}

.message {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
  }

  .time-right {
    float: right;
    color: #38352d;
  }

  .meta {
    font-weight: bold;
  }

  #chat-form {
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
  }

  #send-btn {
      width: 100%;
  }