.mainView {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

#profile-pic {
    border-radius: 50%;
    width: 30%;
  }

  hr {
      border-color: black;
      width: 100%
  }

  #btn-profile {
      width: 200px;
      margin: 0 auto;
  }




